@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --font1:'Share Tech Mono';
    --fontPadrao : Arial, Helvetica, sans-serif;
    --cor1: rgb(8,77,110);
    --cor2: rgb(216,223,230);
}

* {
    padding:0;
    margin:0;

}
header{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: white;

    margin-bottom: 200px;
}

#header{    
    background-color: var(--cor1);
    border-radius: 2px;
    box-shadow: 2px 2px var(--cor2);
    height: 50px;  
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.nav ul{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    
}

.nav ul a{
    color: white;
    font-size: 16px;
    font-family: var(--fontPadrao);
    text-decoration: none;
    padding: 8px;
    margin-right: 15px;
    width: 110px;
}

.nav ul a:last-child { 
    position: fixed;
    right: 100px;
    margin: 0px;
    width: 50px;
  }

#icon {
    color: white;
}   

.nav ul a:hover{
    background-color: white;
    color: var(--cor1);
    border-radius: 2px;
    transition: 0.3s;
      
}

#icon:hover{
    color: var(--cor1);
}

#icon i:hover{
    color: var(--cor1);
}

input{
    font-size: 16px;
    font-family: var(--fontPadrao);
}

.img-empty img{
    width: 600px;
    display: flex;
    margin: auto;
}
h1{
    color: re;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--cor1);
    font-family: var(--font1);
    font-size: 20px;
    text-align: center;
}


.find form{
    width: 98%;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    margin: auto;
    justify-content: center;

    
}
#search input{
    width: 500px;
    height: 25px;
    box-shadow: 2px 2px var(--cor2);

    
}
#btn_search button{
    margin-left: 5px;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: var(--fontPadrao);
    background-color: var(--cor1);
    color: white;
    width: 150px;
    height: 30px;
    padding: 8px;
    border-radius: 2px;
    border: none;
    box-shadow: 2px 2px var(--cor2);
    align-items: center;

}

#btn_search button:hover{
    background-color: white;
    color: var(--cor1);
    border-radius: 2px;
    transition: 0.3s;
    border: 1px solid var(--cor1);
    cursor: pointer;

}
.table_container{
   margin-top: 290px;
   padding-bottom: 100px;
    
    
}

thead tr{ 
    padding-bottom: 100px;
    background-color: var(--cor1);
    color: white;
    font-family: var(--fontPadrao);
    font-size: 14px;
   
    
 
    
    
}

.alert img{
    display: flex;
    margin: auto;
    width: 350px;

    
}

.alert p{
    margin: auto;
    font-size: 20px;
    font-family: var(--fontPadrao);
    text-align: center;

}

.table {
    border: 2px solid;
    color: var(--cor1);
    width: 98%;
    margin: auto;
    border-collapse: collapse;
}
.table tr td{
     border: 1px solid var(--cor1);
     color: black;
     font-family: var(--fontPadrao);
     font-size: 14px;
}


#id{
    width: 40px;
    text-align: center;
    
}
#name{
    width: 200px;
}

#cpf{
    width: 100px;
}
#rg{
    width: 100px;
}
#datas{
    width: 90px;
}
#phone{
    width: 100px;
}
#email{
    width: 150px;
}
#address{
    width: 200px;
}
#num{
    width: 40px;
}
#cep{
    width: 90px;
}
#bank{
    width: 100px;
}

#bank button{
    background-color: var(--cor1);
    color: white;
    border: none;
    width: 80px;
    height: 20px;
    border-radius: 2px;
    margin: auto;
    display: block;
    align-items: center;
}

#bank button:hover{
    background-color: white;
    color: var(--cor1);
    border-radius: 2px;
    transition: 0.3s;
    border: 1px solid var(--cor1);
    cursor: pointer;

}

td{
   vertical-align: middle;
    height: 35px;
}


.button{
  
    margin: auto;
    margin-top: 15px;
    width: 98%;
    height: 50px;
    align-items: center;
    
}
.btn{
    margin-left: 10px;
    float: inline-end;
    font-size: 16px;
    font-family: var(--fontPadrao);
    background-color: var(--cor1);
    color: white;
    width: 150px;
    height: 30px;
    padding: 8px;
    border-radius: 2px;
    border: none;
    box-shadow: 2px 2px var(--cor2);
    
}

.btn:hover{
    background-color: white;
    color: var(--cor1);
    border-radius: 2px;
    transition: 0.3s;
    border: 1px solid var(--cor1);
    cursor: pointer;

}



footer{
    background-color: var(--cor1);
    z-index: 100;
    position: fixed;
    bottom: 0px;
    width: 100%;
    align-items: center;
    text-align: center;

}
footer h2{
    font-size: 16px;
    font-family: var(--font1);
    color:white;
    
}
footer p{
    font-size: 14px;
    font-family: var(--font1);
    color: white;

}
footer hr{
    border-color:white;
   
    
}




